body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blanchedalmond;
}

/* HOME PAGE STYLES */

/* NAVIGATION STYLES */

.topnav {
    background-color: burlywood;
    overflow: hidden;
    width: 100%;
  }
  

.topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
    margin-left: 300px;
    padding-top: 20px;
    padding-bottom: 30px;
 }

.topnav a:hover {
    background-color:azure;
    color: black;
 }

.topnav input[type=text] {
    float: right;
    width: 25%;
    padding: 10px;
    border: 1px solid;
    margin-top: 10px;
    margin-right: 16px;
    font-size: 18px;
  }

  .logo {
    width: 100%;
    height: auto;
  }

  /* MAIN CONTENT STYLES */

.gameimage {
    padding: 10px;
    margin-top: 2%;
    margin-left: 20%;
    width: 60%;
    height: auto;
}

.h1, .h2 {
    margin-left: 20px;
    font-size: 20px;
    color: black;
}

.p1, .p2 {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
  padding-right: 4px;
  border: 1px solid black;
  background-color: white;
}

/* IMAGES FOR PARAGRAPHS */

.treesplants {
  padding: 10px;
  margin-top: 2%;
  margin-left: 20%;
  width: 60%;
  height: auto;
}

.actionfigureimage {
  padding: 10px;
  margin-top: 2%;
  margin-left: 5%;
  width: 50%;
  height: auto;
}

/* BUTTON STYLES */

.button {
  border: 2px solid black;
  background-color: white;
  padding: 20px 30px;
  margin-left: 75%;
  margin-top: -25%;
  text-align: center;
  text-decoration: none;
  position:absolute;
  font-size: 20px;
  cursor: pointer;
  width: 15%;
  height: auto;
  float: right;
}

.button:hover {
  background-color: black;
  color: white;
}

/* SKIP LINK STYLES */

.skip-links {
  list-style: none;
  font-size: 30px;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 3%;
}


/* FOOTER STYLES */

.footerhome {
    background-color:burlywood;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
}