body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blanchedalmond;
}

/* HOME PAGE STYLES */

/* NAVIGATION STYLES */

.topnav {
    background-color: burlywood;
    overflow: hidden;
    width: 100%;
  }
  

.topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
    margin-left: 300px;
    padding-top: 20px;
    padding-bottom: 30px;
 }

.topnav a:hover {
    background-color:azure;
    color: black;
 }

.topnav input[type=text] {
    float: right;
    width: 25%;
    padding: 10px;
    border: 1px solid;
    margin-top: 10px;
    margin-right: 16px;
    font-size: 18px;
  }

  /* MAIN CONTENT STYLES */

.gameimage {
    padding: 10px;
    margin-right: 20%;
    margin-left: 28%;
    margin-top: 2%;
}

.h1, .h2 {
    margin-left: 20px;
    font-size: 20px;
    text-decoration: underline;
    color: darkgoldenrod;
}

.p1, .p2 {
    font-size: 22px;
    margin-left: 20px;
    border: 1px solid black;
    background-color: white;
}

.treesplants {
    margin-left: 30%;
    margin-top: 30px;
}

.actionfigureimage {
    margin-left: 15%;
    margin: 10%;
}

.gameoverimage {
    margin-top: -300%;
    margin-left: 52%;
}

.button {
  border: 2px solid black;
  padding: 30px 32px;
  margin-left: 85%;
  margin-bottom: 2%;
  margin-top: 2%;
  text-decoration: underline;
  display: inline-block;
  font-size: 21px;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
}


/* FOOTER STYLES */

.footerhome {
    background-color:burlywood;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 18px;
}