body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blanchedalmond;
}

/* ABOUT PAGE STYLES */

/* NAVIGATION STYLES */
  
.topnav {
    background-color: burlywood;
    overflow: hidden;
    width: 100%;
  }
  

.topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 300px;
 }

.topnav a:hover {
    background-color:azure;
    color: black;
  }

.topnav input[type=text] {
    float: right;
    width: 25%;
    padding: 8px;
    border: 1px solid;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 18px;
  }

header form input {
    height: 30px;
  }

  /* MAIN CONTENT STYLES */


.h1 {
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
    text-decoration: underline;
}
  
.h2, .h3, .h4, .h5, .h6 {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 20px;
    color: darkgoldenrod;
    font-weight: bold;
  }

.p1, .p2, .p3, .p4, .p5, .p6, .p7 {
    font-size: 22px;
    margin-left: 30px;
    border: 1px solid black;
    background-color: white;
  }

.p7 {
    margin-top: 20px;
}

.development {
    margin-top: 30px;
    margin-left: 53%;
    margin-bottom: -25px;
}

.funding {
    margin-top: -870px;
    margin-bottom: -10px;
    margin-left: 10%;
}

.publishing {
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 32%;
}

.gamer {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30%;
}

.button {
    border: 2px solid black;
    padding: 30px 32px;
    margin-left: 80%;
    margin-bottom: 2%;
    margin-top: 2%;
    text-decoration: underline;
    display: inline-block;
    font-size: 22px;
    cursor: pointer;
    background-color: white;
    color: black;
  }
  
  .button:hover {
    background-color: black;
    color: white;
  }

  /* FOOTER STYLES */

.footerabout {
    background-color:burlywood;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 18px;
}