body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blanchedalmond;
}

/* ABOUT PAGE STYLES */

/* NAVIGATION STYLES */
  
.topnav {
    background-color: burlywood;
    overflow: hidden;
    width: 100%;
  }
  

.topnav a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    margin-left: 300px;
 }

.topnav a:hover {
    background-color:azure;
    color: black;
  }

.topnav input[type=text] {
    float: right;
    padding: 8px;
    border: 1px solid;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 18px;
    width: 30%;
    height: auto;
  }

header form input {
    height: 30px;
  }


  /* MAIN CONTENT STYLES */

.h1 {
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
}
  
.h2, .h3, .h4, .h5, .h6 {
    margin-left: 30px;
    margin-top: 50px;
    font-size: 20px;
    color: darkgoldenrod;
    font-weight: bold;
  }

.p1, .p2, .p3, .p4, .p5, .p6, .p7 {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 4px;
    border: 1px solid black;
    background-color: white;
  }

.p7 {
    margin-top: 20px;
}

/* MAIN IMAGES WITH PARAGRAPHS */

.funding {
    margin-top: 70px;
    margin-left: 20%;
    width: 60%;
    height: auto;
}

.publishing {
    margin-top: 20px;
    margin-bottom: -10px;
    margin-left: 15%;
    width: 70%;
    height: auto;
}

.gamer {
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
    height: auto;
}

/* ANIMATION BEFORE FOOTER */

.indiesito {
    float: right;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 7%;
    margin-right: 20%;
    width: 10%;
    height: auto;
    border: none;
    background: none;
}

.indiesito {
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: 3s;
    animation-timing-function: ease-in;
    transition: 3s;
}
     
.indiesito:hover {
    opacity: 0.1;
    transition: 0.3s;
}

/* BUTTON FOR MORE INFORMATION */

.button {
    border: 2px solid black;
    padding: 30px 32px;
    margin-top: -200%;
    margin-left: 67%;
    margin-bottom: 5%;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    width: 20%;
    height: auto;
  }
  
  .button:hover {
    background-color: black;
    color: white;
  }

  /* FOOTER STYLES */

.footerabout {
    background-color:burlywood;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 18px;
}